body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-config {
  display: block;
  margin-bottom: 20px;
}
.fixed-size {
  width: 100px;
  display: inline-block;
}
.btn-bold {
  font-weight: bold;
}
.square-highlight {
  color: red;
  background-color: yellow;
  font-weight: bold;
}
.content {

}

.footer {
  position: fixed;
  display: block;
  width: 100%;
  background: rgb(197, 197, 197);
  text-align: center;
  bottom: 0;
}